{% extends "layout.html" %} {% block body %}
<div class="mx-2 add-container">
  <h2 class="title">Add Blog</h2>
  <p class="py-6">Use the below form to add a new Blog.</p>
  <br />
  <form class="mx-2 form-style" method="post">
    {% csrf_token %}
    <div class="form-in-style">
      <div>
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input
          required
          name="title"
          type="text"
          class="w-100 focus-outline-none rounded-3 px-3 py-2 focus-border-success"
          id="exampleInput"
          placeholder="Enter the title"
        />
        <div id="emailHelp" class="form-text">
          Provide suitable title to your blog.
        </div>
      </div>
      <div class="">
        <label for="exampleInputDesc" class="form-label">Image URL</label>
        <input
          required
          name="img_url"
          type="url"
          placeholder="Enter the image-url"
          class="w-100 focus-outline-none rounded-3 px-3 py-2 focus-border-success"
          id="exampleInputdesc"
        />
        <div id="emailHelp" class="form-text">
          Give the link of the related image.
        </div>
      </div>
      
      <div class="dropdown-style">
        <label for="exampleInputDesc" class="form-label">Category</label>
        <select required name="category" class="w-100 rounded-3">
          <option value="Entertainment">Entertainment</option>
          <option value="Business">Business</option>
          <option value="Food">Food</option>
          <option value="Technology">Technology</option>
          <option value="Games">Games</option>
          <option value="Adventure">Adventure</option>
          <option value="Travel">Travel</option>
        </select>
        <div id="emailHelp" class="form-text">
          Select category for your blog.
        </div>
      </div>
      <div class="">
        <label for="exampleInputDesc" class="form-label">Description</label>
        <textarea
          required
          name="description"
          type="text"
          placeholder="Enter the blog details"
          class="w-100 focus-outline-none rounded-3 px-3 py-1 focus-border-success"
          id="exampleInputdesc">
        </textarea>
        <div id="emailHelp" class="form-text">
          Write the content of your blog.
        </div>
      </div>
    </div>
    <div
      class="btn-container w-100 focus-outline-none rounded-3 focus-border-success"
    >
      <button type="submit" class="btn btn-container-color m-0 w-100">
        Add +
      </button>
    </div>
  </form>
  <br />
  <br />
  {% if exception %}
  <div
    class="d-flex align-items-center justify-content-center gap-2 w-100 px-2"
  >
    <div class="alert alert-danger w-100" role="alert">
      {{exception}} <a href="/addBlog" class="alert-link">Try again!</a>.
    </div>
  </div>

  {% endif %}
</div>
{% endblock %}
