{% extends "layout.html" %} {% block body %}


  <!-- <div class="container mx-auto p-4 mt-10 w-100">
    <div class="w-100">
      <div class="">
        <div class="card border-0 rounded-lg shadow-sm">
          <div class="card-header text-center view-title">
            <h1 class="text-success display-4">{{ blog.title }}</h1>
            <p class="card-text fw-normal fs-6  text-muted">{{ blog.category }}</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <img src="{{ blog.img_url }}" class="img-fluid rounded-lg" alt="blog image">
              </div>
              <div class="col-md-6">
                <p class="card-text"><b>Description:</b> {{ blog.description }}</p>
                <br>
                <div id="quote" class="mt-5 mb-4">
                  <p><span id="content"></span></p>
                  <p class="py-2">- <span id="author"></span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <a href="#" onclick="history.back(); return false;">
              <button type="button" class="btn btn-secondary">Return</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container overflow-hidden">
    <div class="view-title text-center">
        <h1>{{blog.title}}</h1>
        <span class="text-muted fw-normal fs-6">{{blog.category}}{{', '}}</span>
        <span class="text-muted fw-normal fs-6">{{blog.created_at}}</span>
    </div>
    <br>
    <br>

    <div class="view-content">
        <div class="img-container">
            <img class="img-fluid img-ride" src="{{blog.img_url}}" alt="blog_img">
        </div>
        <div class="content">
            <h4>Description:</h4>
            <p class="fw-light">{{blog.description}}  sdfsdfsfsdf Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat aliquam fugiat omnis pariatur maiores, aspernatur reprehenderit non quasi! Ad delectus aliquid, sit reprehenderit et maiores perferendis atque eum a sapiente sed possimus, explicabo distinctio iure id cum iste quia porro voluptatibus in dicta at repellendus! Iusto error optio eum obcaecati, repellendus animi repudiandae officiis, tenetur saepe similique adipisci odit. Ratione facilis, eaque reiciendis dolorem nihil quae veritatis esse, soluta ipsa officia ab eveniet, tempore eius! Fugit repellat voluptatem dolore, natus, repellendus voluptas vel molestiae voluptates exercitationem, asperiores eum dolores quibusdam aliquid iste distinctio temporibus suscipit molestias. Aut, dolorem possimus? Inventore.</p>
        </div>
    </div>
    <br>
  </div>

{% endblock %}
